//// 1. Configuration and helpers
//@import "abstracts/variables";
//
//// 2. Vendors
@import "vendors/normalize";
//
//// 3. Base stuff
//@import "base/base";
//@import "base/fonts";
//@import "base/typography";

// 4. Layout-related sections

// 5. Components



// 6. Page-specific styles
//@import "pages/home";

// 7. Themes
.homepage {
  // Добавьте все необходимые стили для .homepage здесь

  .panels-container {
    display: flex;
    justify-content: space-between;
    // position: relative;

    .left-panel {
      width: 342px;
      //height: 605px;
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #F2F2F2, #F2F2F2);
      padding-top: 14px;
      padding-left: 14px;
      padding-right: 14px;
      overflow-y: hidden;
      max-height: 617px;
      overflow-y: auto;

      
      .tabs {
        display: flex;
        // justify-content: space-between;
        // // padding: 0 10px;
        // gap: 2px;
    
        .tab {
          display: flex;
          padding: 7px 6px 6px 6px;
          // border-radius: 2px;
          margin-bottom: 10px;
          color: white;
          font-family: Stapel, serif;
          font-size: 10px;
          font-weight: 400;
          line-height: 10px;
          letter-spacing: 0em;
          border-width: 0;
          width: 77px;
          height: 25px;
          background: #C3CCE5;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;

          &:first-child {
            border-radius: 6px 0px 0px 0px;
          }
          &:last-child {
            border-radius: 0px 6px 0px 0px;
          }

          &.active {
            background: #737C99;
          }
        }
      }

      .tabs-content {
        //height: calc(100% - 50px);
        // overflow-y: auto;


        .tab-content {
          display: flex;
          // flex-direction: column;
          // display: inline-flex;
          // padding-left: 10px;
          flex-direction: column;
          // align-items: center;
          gap: 15px;
          
        }
      }


    .search-container {
        position: relative;
        width: 100%;
    }
    
    .search-input {
        width: 100%;
        padding: 8px 12px;
        border: 1px solid #E5ECFF;
        font-size: 12px;
        font-family: Stapel, serif;
        outline: none;
        transition: border-color 0.3s ease;
        margin-top: -10px;
        border-radius: 0 0 5px 5px;
        text-align: center;
        box-sizing: border-box;
        padding-right: 20px;
    
        &:focus {
            border-color: #C3CCE5;
        }
    
        &::placeholder {
            color: var(--IX, #C3CCE5);
            opacity: 1;
            font-family: Stapel;
            font-size: 12px;
            font-style: normal;
            font-weight: medium;
            line-height: normal;
            text-align: center;
        }
    
        &:not(:placeholder-shown) + .search-icon path {
            fill: red;
        }
    }
    
    .search-icon {
        position: absolute;
        top: 30%;
        // right: 15px; /* расположение иконки от правого края поля ввода */
        transform: translateY(-50%);
        pointer-events: none; /* чтобы иконка не перехватывала события мыши */
    }
    
    
    
    
    

      .pallete {
        display: flex;
        width: 191px;
        height: 22px;
        padding: 5px 5px 5px 10px;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0;
        color: var(--unnamed, #000);
        font-family: Stapel;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 2px;
        border: 1px solid var(--ii, #F7F7F7);
        background: var(--unnamed, #FFF);
        &-colors {
          display: flex;
          align-items: flex-start;
          gap: 2px;
        }
      }
      .pallete-button {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        border: 1px solid #F2F2F2; /* Change border color here */
        padding: 0;
        -webkit-appearance: none; /* Remove default input styling */
        -moz-appearance: none;
        appearance: none;
        background: transparent; /* Set the background to be transparent */
        outline: none; /* Remove the outline */
        box-shadow: none; /* Remove the shadow */
        cursor: pointer; /* Change the cursor to be a pointer */
      }
      
      .pallete-button::-webkit-color-swatch-wrapper {
        padding: 0; /* Remove padding from color swatch wrapper */
      }
      
      .pallete-button::-webkit-color-swatch {
        border: none; /* Remove border from color swatch */
        border-radius: 100%; /* Set the border radius to be circular */
      }
      .dropdown-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
      
      .simple-dropdown {
        flex: 1 0 152px;
        border-radius: 6px 6px 0px 0px;
        border: 1px solid #F7F7F7;
        background: #FFF;
        
        &.open {
          flex: 1 0 100%;
          background: #292F40;
          
          .dropdown-content {
            // display: flex;
            // flex-wrap: wrap;
            gap: 4px;
            background: var(--unnamed, #FFF);
            padding: 15px;
          }
          
          .dropdown-header {
            color: var(--unnamed, #FFF);
          }
        }
      }
      
          .dropdown-header {
            padding: 3px 6px;
            font-family: Stapel;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;
            color: #000;
            outline: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .dropdown-header-icon {
              margin-left: auto;
              transition: transform 0.3s ease;
          
              &.open {
                transform: rotate(90deg);
              }
              
              &.closed {
                transform: rotate(0); 
              }
            }
          }
          .type-dropdown-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(92px, 1fr));
            gap: 4px;
            background: #FFF;
            padding-bottom: 0px;
          }
          .type-dropdown {
            display: flex;
            width: 92px;
            height: 47px;
            justify-content: center;
            align-items: center;
            padding-bottom: 0px;
            border-radius: 4px;
            border: 1px solid #F2F2F2;
            background: #FFF;
            margin-bottom: 15px;
            &.open {
              border: 2px solid #66B2FF;
              background: #FFF;
              grid-column: 1 / -1; // Занимает весь ряд, начиная от первой ячейки

            }
          }
      
          .type-dropdown-header-icon {
            max-width: 92px;
            border-radius: 6px;
          }
        }
      }
      .type-dropdown-wrapper {
        display: flex;
        flex-direction: column;
      
        &:nth-child(3n+1) { 
          align-items: flex-start;
          // margin-left: -15px;
          .buttons {
            margin-left: -15px; 
          }
        }
      
        &:nth-child(3n+2) { 
          align-items: center;
          
          // .buttons {
          //   // margin-left: -5px;
          // }
        }
      
        &:nth-child(3n) { 
          align-items: flex-end;
          .buttons {
            padding: 15px;
            margin-right: -16px;
          }
        }
      }
      
      .buttons {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(44px, 1fr));
        gap: 5px;
        background-color: #F2F2F2;
        padding: 15px;
        margin-bottom: 15px;
        min-width: 284px;
        // padding-right: 20px;
        z-index: 1000;
      }
      .dropdown-button {
        max-width: 44px;
        max-height: 44px;
        display: flex; /* Сделать контейнер кнопки гибким для корректного выравнивания SVG */
        align-items: center; /* Центрировать SVG по вертикали */
        justify-content: center; /* Центрировать SVG по горизонтали */
        padding: 0;
        border-width: 0;
        border-radius: 4px;

      }
      
      .dropdown-button img { /* Селектор для SVG внутри кнопки */
        max-width: 100%; /* Максимальная ширина SVG - 100% ширины кнопки */
        max-height: 100%; /* Максимальная высота SVG - 100% высоты кнопки */
        object-fit: contain; /* Обеспечивает, что SVG будет масштабировано с сохранением пропорций, чтобы его размеры не превышали размеры кнопки */
        border-radius: 6px;
        &:hover {
          border: 2px solid var(--i, #66B2FF);
        }
      }
      
      
    }

    .right-panel {
      // Стили для .right-panel здесь
      width: 59px;
      background-color: #F2F2F2;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 0 10px;
      max-height: 616px;
      position: sticky;
      top: 0;
      right: 0;

      .elements {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .element, .button, .big-button {
          width: 44px;
          background-color: #fff;
          border-radius: 4px;
        }

        .element {
          height: 44px;
          
        }

        .button {
          height: 44px;
          background-color: #c3cce5;
          &:hover {
            background-color: #737C99;
          }
        }

        .big-button {
          height: 44px;
          background-color: #c3cce5;
        }
        .button.big-button:hover svg rect {
          fill: #737C99;
        }
      
      }
    }
/* Стили для полосы прокрутки */
.left-panel::-webkit-scrollbar {
  width: 4px; /* Ширина полосы */

}

/* Стили для трека полосы прокрутки */
.left-panel::-webkit-scrollbar-track {
  background-color: transparent; /* Цвет фона трека */
}

/* Стили для ползунка полосы прокрутки */
.left-panel::-webkit-scrollbar-thumb {
  background-color: #C3CCE5; /* Цвет ползунка */
  // border-radius: 2px; /* Закругление углов ползунка */
}

/* Убираем стрелки вверх и вниз на полосе прокрутки */
.left-panel::-webkit-scrollbar-button {
  display: none;
}

/* Стили для трека полосы прокрутки */
.left-panel::-webkit-scrollbar-track {
  background-color: #F2F2F2; /* Цвет фона трека */
}