//// 1. Configuration and helpers
//@import "abstracts/variables";
//
//// 2. Vendors
@import "vendors/normalize";
//
//// 3. Base stuff
//@import "base/base";
//@import "base/fonts";
//@import "base/typography";

// 4. Layout-related sections

// 5. Components



// 6. Page-specific styles
//@import "pages/home";

// 7. Themes
.homepage {
  // Добавьте все необходимые стили для .homepage здесь

  .panels-container {
    display: flex;
    justify-content: space-between;

    .left-panel {
      width: 342px;
      //height: 605px;
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #F2F2F2, #F2F2F2);
      padding-top: 14px;
      .tabs {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;

        .tab {
          padding: 4px 6px 4px 6px;
          border-radius: 2px;
          margin-bottom: 10px;
          color: white;
          font-family: Stapel, serif;
          font-size: 8px;
          font-weight: 900;
          line-height: 10px;
          letter-spacing: 0em;
          width: 77px;
          height: 18px;
          background: #C3CCE5;

          &.active {
            background: #737C99;
          }
        }
      }

      .tabs-content {
        //height: calc(100% - 50px);
        overflow-y: auto;

        .tab-content {
          display: flex;
        }
      }
      .pallete {
        display: flex;
        padding: 5px 5px 5px 10px;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0;
        color: var(--unnamed, #000);
        font-family: Stapel;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 2px;
        border: 1px solid var(--ii, #F7F7F7);
        background: var(--unnamed, #FFF);
        &-colors {
          display: flex;
          align-items: flex-start;
          gap: 2px;
        }
      }
      .pallete-button {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        border: 1px solid #F2F2F2; /* Change border color here */
        padding: 0;
        -webkit-appearance: none; /* Remove default input styling */
        -moz-appearance: none;
        appearance: none;
        background: transparent; /* Set the background to be transparent */
        outline: none; /* Remove the outline */
        box-shadow: none; /* Remove the shadow */
        cursor: pointer; /* Change the cursor to be a pointer */
      }
      
      .pallete-button::-webkit-color-swatch-wrapper {
        padding: 0; /* Remove padding from color swatch wrapper */
      }
      
      .pallete-button::-webkit-color-swatch {
        border: none; /* Remove border from color swatch */
        border-radius: 100%; /* Set the border radius to be circular */
      }
      
    }

    .right-panel {
      // Стили для .right-panel здесь
      width: 59px;
      background-color: #F2F2F2;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 0 10px;


      .elements {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .element, .button, .big-button {
          width: 44px;
          background-color: #fff;
        }

        .element {
          height: 44px;
        }

        .button {
          height: 30px;
          background-color: #c3cce5;
          &:hover {
            background-color: #737C99;
          }
        }

        .big-button {
          height: 44px;
          background-color: #c3cce5;
          &:hover {
            background-color: #737C99;
          }
        }
      }
    }
  }
}
